/* 全体のスタイル */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* ヘッダーのスタイル */
header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1px 0;
  width:100%;
  position: fixed;
}

/* メインコンテンツのレイアウト */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 90px 20px 90px 20px;
  width: 50vw; /* ビューポートの幅の50% */
  height: 100vh; /* ビューポートの高さの100% */
}

.navigation,
.main-content,
.banner,
.content {
  padding: 20px;
}

section.main-content {
background-color: #fff;
margin:0px 10px;
}

div.center-part {
  width:60%;
}

dl.info {
  padding: 0px 10px 0px 10px;
  background-color: #fff;
}

.navigation {
  flex: 1;
  background-color: #f9f9f9;
}

.main-content {
  flex: 2;
  text-align: left;
}

.banner {
  flex: 1;
  background-color: #f9f9f9;
}

/* ナビゲーションメニュー */
.navigation ul,
.banner ul {
  list-style-type: none;
  padding: 0;
}

.navigation li,
.banner li {
  margin: 10px 0;
}

.navigation a,
.banner a {
  text-decoration: none;
  color: #4CAF50;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navigation a:hover,
.banner a:hover {
  background-color: #45a049;
  color: white;
}

/* フッターのスタイル */
footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .navigation,
  .main-content,
  .banner {
      flex: 1 100%;
      margin-bottom: 20px;
  }
}
/* 画面幅が769px以上の場合のレイアウト */
@media (min-width: 769px) {
  .container {
      width: 96%;
  }
}

/* 画面幅が769未満の場合のレイアウト */
@media (max-width: 768px) {
  .container {
      width: 100%;
      font-size: smaller;
  }
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: rgb(255, 255, 255);
  color: #050505;
  text-align: left;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Tooltip appears above the link */
  left: 40%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}